services:
  db:
    container_name: yuki_postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: example
    ports:
      - '5432:5432'
    volumes:
      - ./backup/postgres:/var/lib/postgresql/data
